body {
  background-color: #fdf7f1;
}
input {
  margin-top: 2%;
  width: 100%;
  padding: 4%;
  border-color: #e44232;
  border-radius: 6px;
  font-size: large;
}
.input {
  width: 290px;
}
.container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.list {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.button-div {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.button {
  margin-left: 2%;
  margin-right: 2%;
  padding: 1%;
  border-radius: 10px;
  background-color: #e44232;
  color: white;
  border: #e44232;
  font-size: large;
}
